---
---
<div class="fixed inset-x-0 bottom-0 z-40 bg-[var(--brand-surface)] p-3 ring-1 ring-white/10 sm:hidden">
  <div class="mx-auto flex max-w-6xl gap-3">
    <a href="tel:+6421638205" data-cta="call" class="flex-1 btn btn-primary">Call 021 638 205</a>
    <a href="/contact/" class="flex-1 btn btn-secondary">Get a quote</a>
  </div>
</div>
